.menu-item {
    height: 40px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    overflow: hidden;
        
    &:hover {
      cursor: pointer;
    }

    a{
      color: white;
      text-decoration: none;

      &:hover{
        color: #FFE4B5;
      }
    }
}

.active{
  color: #D2B48C !important;
}